In [142]:
import pandas as pnd
import operator

In [144]:
df=pnd.read_csv('olympics.csv',index_col=0,skiprows=1)
df.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [145]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]},inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]},inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]},inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]},inplace=True)
names_ids=df.index.str.split('\s\(')
df.index=names_ids.str[0]
df['ID']=names_ids.str[1].str[:3]
df=df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

# Part 1

# Question 0

In [146]:
country_series=pnd.Series(df.loc['Afghanistan'])
country_series

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

# Question 1

In [147]:
def name_of_country():
    a=df[df['Gold']==df['Gold'].max()].index.values
    return a[0]
name_of_country()

'United States'

# Question 2

In [157]:
def medal_count_difference(): 
    new_=df[['Gold','Gold.1']]
    new_['Sub']=new_['Gold']-new_['Gold.1']
    new_['Total']=new_['Gold']+new_['Gold.1']
    new_['Final']=new_['Sub']/new_['Total']
    a=new_[new_['Final']==new_['Final'].max()].index.values
    return a[0]
medal_count_difference()

<ipython-input-157-07c1f7c11616>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_['Sub']=new_['Gold']-new_['Gold.1']
<ipython-input-157-07c1f7c11616>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_['Total']=new_['Gold']+new_['Gold.1']
<ipython-input-157-07c1f7c11616>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_['Final']=new_['Sub']/new_['Total']

'Algeria'

In [158]:
def difference():   
    new_df=df[operator.and_(df['Gold']>=1, df['Gold.1'])]
    new_df=new_df[['Gold','Gold.1']]
    new_df['Sub']=new_df['Gold']-new_df['Gold.1']
    new_df['Total']=new_df['Gold']+new_df['Gold.1']
    new_df['Final']=new_df['Sub']/new_df['Total']
    a=new_df[new_df['Final']==new_df['Final'].max()].index.values
    return a[0]
difference()

'Bulgaria'

# Question 4

In [159]:
def series_of_data():
    d=df.iloc[:,11:14]
    a=[]
    for i in range(len(d)):
        a.append(d['Gold.2'][i]*3+d['Silver.2'][i]*2+d['Bronze.2'][i])
    a=pnd.Series(a,index=df.index)
    return a
series_of_data()

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            923
Austria                              569
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              154
Belgium                              276
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             411
Burundi                                3
Cameroon                              12
Canada                               846
Chile                                 24
China                               1120
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               67
Cuba                                 420
Cyprus                                 2
Czech Republic                       134
Czechoslovakia                       327
Denmark                              335
Djibouti                               1
Dominican Republic                    14
Ecuador                                5
Egypt                                 49
Eritrea                                1
Estonia                               77
Ethiopia                              94
Finland                              895
France                              1500
Gabon                                  2
Georgia                               42
Germany                             1546
United Team of Germany               269
East Germany                        1068
West Germany                         459
Ghana                                  5
Great Britain                       1574
Greece                               213
Grenada                                3
Guatemala                              2
Guyana                                 1
Haiti                                  3
Hong Kong                              6
Hungary                              962
Iceland                                6
India                                 50
Indonesia                             49
Iran                                 110
Iraq                                   1
Ireland                               55
Israel                                10
Italy                               1333
Jamaica                              131
Japan                                866
Kazakhstan                           113
Kenya                                168
North Korea                           90
South Korea                          609
Kuwait                                 2
Kyrgyzstan                             4
Latvia                                47
Lebanon                                6
Liechtenstein                         15
Lithuania                             38
Luxembourg                             9
Macedonia                              1
Malaysia                               9
Mauritius                              1
Mexico                               109
Moldova                                9
Mongolia                              37
Montenegro                             2
Morocco                               39
Mozambique                             4
Namibia                                8
Netherlands                          727
Netherlands Antilles                   2
New Zealand                          203
Niger                                  1
Nigeria                               37
Norway                               985
Pakistan                              19
Panama                                 5
Paraguay                               2
Peru                                   9
Philippines                           11
Poland                               520
Portugal                              39
Puerto Rico                           10
Qatar                                  4
Romania                              572
Russia                              1042
Russian Empire                        14
Soviet Union                        2526
Unified Team                         287
Saudi Arabia                           4
Senegal                                2
Serbia                                11
Serbia and Montenegro                 17
Singapore                              6
Slovakia                              58
Slovenia                              56
South Africa                         148
Spain                                268
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1217
Switzerland                          630
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              220
United Arab Emirates                   3
United States                       5684
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           171
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
dtype: int64

In [161]:
data=pnd.read_csv('census.csv')
data.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,NPOPCHG_2010,NPOPCHG_2011,NPOPCHG_2012,NPOPCHG_2013,NPOPCHG_2014,NPOPCHG_2015,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,DEATHS2010,DEATHS2011,DEATHS2012,DEATHS2013,DEATHS2014,DEATHS2015,NATURALINC2010,NATURALINC2011,NATURALINC2012,NATURALINC2013,NATURALINC2014,NATURALINC2015,INTERNATIONALMIG2010,INTERNATIONALMIG2011,INTERNATIONALMIG2012,INTERNATIONALMIG2013,INTERNATIONALMIG2014,INTERNATIONALMIG2015,DOMESTICMIG2010,DOMESTICMIG2011,DOMESTICMIG2012,DOMESTICMIG2013,DOMESTICMIG2014,DOMESTICMIG2015,NETMIG2010,NETMIG2011,NETMIG2012,NETMIG2013,NETMIG2014,NETMIG2015,RESIDUAL2010,RESIDUAL2011,RESIDUAL2012,RESIDUAL2013,RESIDUAL2014,RESIDUAL2015,GQESTIMATESBASE2010,GQESTIMATES2010,GQESTIMATES2011,GQESTIMATES2012,GQESTIMATES2013,GQESTIMATES2014,GQESTIMATES2015,RBIRTH2011,RBIRTH2012,RBIRTH2013,RBIRTH2014,RBIRTH2015,RDEATH2011,RDEATH2012,RDEATH2013,RDEATH2014,RDEATH2015,RNATURALINC2011,RNATURALINC2012,RNATURALINC2013,RNATURALINC2014,RNATURALINC2015,RINTERNATIONALMIG2011,RINTERNATIONALMIG2012,RINTERNATIONALMIG2013,RINTERNATIONALMIG2014,RINTERNATIONALMIG2015,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,4801108,4816089,4830533,4846411,4858979,5034,15947,14981,14444,15878,12568,14226,59689,59062,57938,58334,58305,11089,48811,48357,50843,50228,50330,3137,10878,10705,7095,8106,7975,1357,4926,4904,4834,5529,5726,537,11,-929,1838,2816,-2268,1894,4937,3975,6672,8345,3458,3,132,301,677,-573,1135,116185,116212,115560,115666,116963,119088,119599,12.453020,12.282581,12.012080,12.056286,12.014973,10.183524,10.056360,10.541099,10.380963,10.371556,2.269496,2.226220,1.470981,1.675322,1.643417,1.027720,1.019840,1.002216,1.142716,1.179963,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,55253,55175,55038,55290,55347,89,593,-78,-137,252,57,151,636,615,574,623,600,152,507,558,583,504,467,-1,129,57,-9,119,133,33,20,16,16,18,19,49,398,-161,-166,125,-140,82,418,-145,-150,143,-121,8,46,10,22,-10,45,455,455,455,455,455,455,455,11.572789,11.138479,10.416194,11.293597,10.846281,9.225478,10.106133,10.579514,9.136393,8.442022,2.347311,1.032347,-0.163320,2.157204,2.404259,0.363924,0.289782,0.290347,0.326300,0.343466,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,186659,190396,195126,199713,203709,928,3466,3737,4730,4587,3996,517,2187,2092,2160,2186,2240,532,1825,1879,1902,2044,1992,-15,362,213,258,142,248,69,187,172,170,212,221,856,2743,3327,4211,3799,3469,925,2930,3499,4381,4011,3690,18,174,25,91,434,58,2307,2307,2307,2249,2304,2308,2309,11.826352,11.096524,11.205586,11.072868,11.104997,9.868812,9.966716,9.867141,10.353587,9.875515,1.957540,1.129809,1.338445,0.719281,1.229482,1.011215,0.912334,0.881921,1.073855,1.095627,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,27226,27159,26973,26815,26489,-116,-115,-67,-186,-158,-326,70,335,300,283,260,269,128,319,291,294,310,309,-58,16,9,-11,-50,-40,2,-4,-7,-3,-2,0,-62,-129,-68,-191,-105,-281,-60,-133,-75,-194,-107,-281,2,2,-1,19,-1,-5,3193,3193,3382,3388,3389,3353,3352,12.278483,11.032454,10.455923,9.667584,10.093051,11.692048,10.701480,10.862337,11.526735,11.593877,0.586435,0.330974,-0.406414,-1.859151,-1.500825,-0.146609,-0.257424,-0.110840,-0.074366,0.000000,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,22733,22642,22512,22549,22583,-58,-128,-91,-130,37,34,44,266,245,259,247,253,34,278,237,281,211,223,10,-12,8,-22,36,30,2,10,16,18,21,21,-69,-126,-115,-140,-4,4,-67,-116,-99,-122,17,25,-1,0,0,14,-16,-21,2224,2224,2224,2224,2224,2233,2236,11.668202,10.798898,11.471852,10.962917,11.211557,12.194587,10.446281,12.446295,9.365083,9.882124,-0.526385,0.352617,-0.974443,1.597834,1.329434,0.438654,0.705234,0.797272,0.932070,0.930604,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

# Part 2

# Question 5

In [162]:
def state_name():
    a=list(data[data['COUNTY']==data['COUNTY'].max()]['STNAME'])
    return a[0]
state_name()

'Virginia'

# Question 6

In [163]:
list(data.iloc[data['CENSUS2010POP'].argsort()[-3:]]['STNAME'])

['New York', 'Texas', 'California']

# Question 7

In [164]:
def population_cty():
    population_data=data.iloc[:,8:15]
    data['Max']=population_data.max(axis=1)
    data['Min']=population_data.min(axis=1)
    data['Change']=data['Max']-data['Min']
    a=list(data[data['Change']==data['Change'].max()]['CTYNAME'])
    return a[0]
population_cty()

'Texas'

# Question 8

In [165]:
def stname():
    new_data=data[data['CTYNAME'].str.contains('Washington')]
    new_data=new_data[operator.or_(new_data['REGION']==1 , new_data['REGION']==2)]
    new_data=new_data[new_data['POPESTIMATE2015']>new_data['POPESTIMATE2014']]
    new_data.sort_index(axis=1)
    return new_data[['STNAME','CTYNAME']]
stname()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County